.wrapper {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

svg {
  margin-top: var(--margin-small);
}

/* disable text selection */
svg *::selection {
  background: transparent;
}

rect.selection {
  stroke: white;
  stroke-dasharray: 4px;
  stroke-width: 3px;
  fill: transparent;
}

circle {
  fill: var(--color-primary);
}

circle.selected {
  fill: var(--color-secondary);
}